@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


Section{
  min-height: 100vh;
 background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url('./maxresdefault.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.container{
  width: 80%;
  margin: auto;
}
nav{
   height: 80px;
}
nav h1 a{
  float: left;
  line-height: 80px;
  font-size: 30px;
  font-size: inline ;
  color:#ffff;
  text-decoration: none;
}
nav  ul{
float: right;
line-height: 80px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  padding: 0px 5px;
}
nav  ul li a{
    position: relative;
  color:#ffff;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 4px; /* spacing for the underline */
}
nav ul li  a::after{
  content:'';
  display: block;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  margin-top: -20px;
  background-color: #ffff;
  transition: width .3s;
}
nav  ul li  a:hover::after{
  width: 100%;
}

.flag{
 position: absolute;
  width: 8px;
  height: 8px;
  background: #fffacd;
  border-radius: 50%;
  box-shadow: 0 0 8px 2px #fffacd;
  animation: fly 10s linear infinite, blink 2s ease-in-out infinite;


}
/* Random placement */
.flag:nth-child(1) { top: 20%; left: 15%; animation-delay: 0s; }
.flag:nth-child(2) { top: 40%; left: 70%; animation-delay: 2s; }
.flag:nth-child(3) { top: 60%; left: 30%; animation-delay: 4s; }
.flag:nth-child(4) { top: 75%; left: 80%; animation-delay: 1s; }
.flag:nth-child(5) { top: 10%; left: 50%; animation-delay: 3s; }
.flag:nth-child(6) { top: 85%; left: 25%; animation-delay: 1.5s; }
.flag:nth-child(7) { top: 30%; left: 60%; animation-delay: 0.8s; }
.flag:nth-child(8) { top: 50%; left: 10%; animation-delay: 3.5s; }

@keyframes blink {
  0%, 100% { opacity: 0.2; box-shadow: 0 0 2px #b87f03; }
  50%      { opacity: 1; box-shadow: 0 0 8px 3px #12d4a4; }
}



@keyframes flag{
    0%   { transform: translate(0, 0); }
  25%  { transform: translate(20px, -30px); }
  50%  { transform: translate(-15px, 20px); }
  75%  { transform: translate(30px, 10px); }
  100% { transform: translate(0, 0); }

}

/* New keyframes for alternate flight path */
@keyframes fly2 {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(-30px, 20px); }
  50%  { transform: translate(15px, -15px); }
  75%  { transform: translate(-20px, 25px); }
  100% { transform: translate(0, 0); }
}

.firefly.alt {
  animation: fly2 12s ease-in-out infinite, blink 2s ease-in-out infinite;
}
.content{
margin-top: 5%;
padding-left: 5%;


}
.content1{
  color: #fff;
  margin-top: -30px;
  
}
.content1 p{
  width:70%;
  padding: 10px;
  margin: 5px;
  color: #fff;
  font-weight:100;
  letter-spacing: 0.1rem;
  font-size:15px;
  font-family: sans-serif;
}

.header{
  margin-left: 25%;
  margin-top: -190px;

}
.wrapper{
  display: flex;
  margin-top: 25px;
  margin-left: 9px;
}
.wrapper  .static-text{
color: #FFFFFF;

  font-size: 30px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 9px;
  line-height: 90px;
  height: 90px;
  margin-top: -25px;
  overflow: hidden;
  
}
.title{

  font-size: 40px;
  font-weight: 300;
  line-height: 50px;
  font-family: 'Courier New', Courier, monospace;

  

}
.title h2{
  color: #fff;
}
.title span {
  color: #4074b5;
text-shadow: -2px 0px 9px rgba(0, 15, 173, 1);
 font-weight: 500;

}
.dynamic-txts li{
  position: relative;
}
.dynamic-txts li ::after{
  content: "";
  position: absolute;

  height: 100%;
  width: 100%;
  left: 0;

  animation:  typing  3s  steps(10) infinite;
}
@keyframes  typing {
  40%,
  60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
  
}
.dynamic-txts li{
  list-style: none;
  top: 0;
color: rgba(255,255,255,.3);

text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  font-size: 30px;
  position: relative;
  animation: slide 12s steps(4) infinite;

}
@keyframes slide {
  100% {
    top: -360px;
  }
  
}

img{
  width:20%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}


.glow-on-hover {
 
 margin-left: 15%;

    width: 220px;
    height: 50px;
border: 1px  solid #fff;

    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.menu-icon{
  margin-left: 80%;
  margin-top:  20px;
  position: absolute;
    display: none;

  }
  .menu-icon i{
    color: #fff;
    font-size: 30px;
    }

@media (max-width: 600px) {
 
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    display: flex;
    transition: max-height 0.3s ease-out;
  } 
  
  .menu-icon{
    display: block;
  }
  .menuList{
    transition: all 0.5s;
  }
  .content{
    margin-top: 40px;
  }
  .header{
    margin-top: 50px;
    margin-left: 20px;
  }
  .header .title h2 {
     font-size: 30px;
  }
  .content1 p{
    width: 100%;
  }
  .dowload{
    margin-left: -20px;
  }
 img{
  width:70%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
nav ul li  a::after{
  content:'';
  display: block;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  margin-top: -20px;
  background-color: #ffff;
  transition: width .3s;
}
nav  ul li  a:hover::after{
  width: 100%;
}

}
